p.big {
	font-weight: bold;
}

h1 {
	font-family: 'Arial'
}

#leagueTable>div {
	min-width:30px;
	display: inline-block;
}	

.normalText, p {
	font-size: 14px;
	font-family: 'Arial';
}	

li {
	padding-top: 10px;
	list-style: none;
	text-align: left;
}

td {
	width: 40px;
	padding-left: 10px;
	padding-right: 10px; 
}