p.big {
	font-weight: bold;
}

h1 {
	font-family: 'Arial'
}

#leagueTable>div {
	min-width:30px;
	display: inline-block;
}	

.normalText, p {
	font-size: 14px;
	font-family: 'Arial';
}	

li {
	padding-top: 10px;
	list-style: none;
	text-align: left;
}

td.team {
	text-align:left;
	width:100px;
}

td {
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	width: 30px;
	padding-left: 10px;
	padding-right: 10px; 
}

.upperQualification {
	border-radius: 10px;
	background: #C3FF9C;
	padding:2px 4px;
}

.belowQualification {
	border-radius: 5px;
	background: #FFB5B5;
	padding:2px 4px;
}