#{extends 'main.html'/}

<p> #{a @Application.index()}Home#{/a}</p>

#{if league != null} 
	#{set title: league.getDisplayName() /}
	<h1>${league.getDisplayName()}</h1>
		
	<table id="leagueTable">
		<tr>
			<td>Team</td>
			<td>P</td>
			<td>W</td>
			<td>D</td>
			<td>L</td>
			<td>GF</td>
			<td>GA</td>
			<td>GD</td>
			<td>PTS</td>
			<td>Best possible position</td>
		</tr>
		#{list items:league.getTeamsByRank(), as:'team'}
		<tr>
			<td>${team.getDisplayName()}</td> 
			<td>${league.getPointsForTeam(team)}</td>
			<td>${league.getWinsForTeam(team)}</td>
			<td>${league.getTiesForTeam(team)}</td>
			<td>${league.getLossesForTeam(team)}</td>
			<td>${league.getGoalsScoredByTeam(team)}</td>
			<td>${league.getGoalsScoredAgainstTeam(team)}</span>
			<td>${league.getGoalDifferenceForTeam(team)}</span>
			<td>${league.getPointsForTeam(team)}</span>
			<td>${league.getBestPossibleRankForTeam(team)}</span>
		</tr>
		#{/list}
	</div>
	
	<hr />
	
	<div class="normalText">
		#{if league.getGames() != null}
			<p>This season has ${league.getGames().size()} game#{if league.getGames().size() > 1}s#{/if}. ${league.getPlayedGames().size()} #{if league.getPlayedGames().size() > 1}are#{/if}#{else}are#{/else} played, 
			${league.getRemainingGames().size()} remain#{if league.getRemainingGames().size > 1}s#{/if}.</p>
			
			<ul>
			#{list items:league.getGames(), as:'game'}
				<li>
					${game.getTeams().get(0)} - ${game.getTeams().get(1)}
					#{if game.isPlayed()} 
						${game.getScores().get(0).getGoals()} - ${game.getScores().get(1).getGoals()}
					#{/if}
				</li>
			#{/list}		
			</ul>
			
		#{/if}
	</div>
	
#{/if}
#{else}
	<p class="errorMessage">League not found.</p>
#{/else}