#{extends 'main.html'/}

<p> <a href="/">Home</a> </p>

#{if league != null} 
	<h1>${league.getDisplayName()}</h1>
		
	<div class="normalText"> 
		<div class="teamDisplayName column">
		<p class="big">Team</p>
		<ul>
			#{list items:league.getTeams(), as:'team'}
				<li> 
					<p class="teamRow">
						<span class="teamName">${team.getDisplayName()}</span> 
						<span>${league.getWinsForTeam(team)}</span>
						<span>${league.getTiesForTeam(team)}</span>
						<span>${league.getLossesForTeam(team)}</span>
						<span>${league.getPointsForTeam(team)}</span>
					</p>
			#{/list}
		</ul>
		</div>
	</div>
	
	<div class="normalText">
		#{if league.getGames() != null}
			<p>Number of games: ${league.getGames().size()}</p>
			<p>Number of played games: ${league.getPlayedGames().size()}</p>
			<p>Number of remaining games: ${league.getRemainingGames().size()}</p>
			<ul>
			#{list items:league.getGames(), as:'game'}
				<li>
					${game.getHomeTeam()} - ${game.getAwayTeam()}
					#{if game.isPlayed()} 
						${game.getHomeTeamGoals()} - ${game.getAwayTeamGoals()}
					#{/if}
				</li>
			#{/list}		
			</ul>
		#{/if}
	</div>
	
#{/if}
#{else}
	<p class="errorMessage">League not found.</p>
#{/else}